![0_jqxyDdZrzID7k2aA.png]()

**Facts about Pandas**

1.   Pandas is a Python library used for data analysis especially with CSV, text files, Microsoft Excel, SQL databases, and the fast HDF5 format.

2.   It was created in 2009 by a company called AQR Capital Management.

3.   It is open source and free to use.

4.   Majority of the package is written in python but some parts are written in Cython or C.

5.  10/10 Data professionals use Pandas.

**Why should you use Pandas?**

1. Data cleaning: Pandas provides functions for cleaning data, such as removing missing values, handling inconsistent data formats, and detecting outliers.
2. Data manipulation: Pandas provides functions for manipulating data, such as merging datasets, filtering data, and creating new variables.
3. Data analysis: Pandas provides functions for performing statistical analysis on data, such as calculating summary statistics, performing hypothesis testing, and building machine learning models.
4. Data visualization: Pandas can be used to create data visualizations, such as charts and graphs, to help understand and communicate the results of data analysis.

# **What this course will cover?**

1. Installing and Introduction to Pandas
2. Data structures in Pandas.
3. Exploratory Data Analysis(EDA) with Pandas
4. Indexing with Pandas
5. Sorting with Pandas
6. Merging and Joining Datasets

# **Topic 1: Introduction to Pandas**

Pandas is a popular data manipulation library in Python that provides data structures and functions for efficiently working with structured data. One of its primary data structures is the DataFrame, which is a two-dimensional, size-mutable, and heterogeneous tabular data structure.

**Installing Pandas**

In [ ]:
!pip install pandas

import pandas as pd

In [5]:
# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 28],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   22      Chicago
3    David   28      Houston

# **Topic 2: Data structures in Pandas**

1.   Series
2.   Dataframe
3.   Panel - it's a 3D container of Data.

**Series**

A Pandas Series is a one-dimensional array with homogeneous data, allowing various data types (integers, strings, floats). However, the series must be of same data type. It is useful for various mathematical and statistical operations on a single set of data points.

In [13]:
import pandas as pd

x = [23,34,87]

var = pd.Series(x)
var

0    23
1    34
2    87
dtype: int64

**Dataframe**

A DataFrame is a tabular data structure that organizes data into rows and columns, creating a two-dimensional layout. Within a DataFrame, it is common to encounter columns with heterogeneous data types, meaning that different columns can contain data of varying types.

1. A DataFrame is like a table or spreadsheet with rows and columns.
2. Columns in a DataFrame can have various data types (float64, int, bool).
3. Each DataFrame column is a Series.
4. DataFrame size can change; you can add or remove columns.
5. It has labeled rows and columns.
6. Think of it as a dictionary of Series with indexed rows and columns.

In [14]:
import pandas as pd

# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 28],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df_sample = pd.DataFrame(data)

# Display the DataFrame
df_sample

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   22      Chicago
3    David   28      Houston

**Data Import/Export with Pandas**

Pandas provides a wide range of functions for manipulating data, such as filtering, sorting, selecting specific columns, and more.

1. Flat files - read_csv(), to_csv()

2. Excel files - read_excel(), ExcelWriter(), to_excel()

3. JSON files - read_json(), to_json()

4. HTML tables - read_html(), to_html()

5. SQL files - read_sql(), read_sql_query(), read_sql_table(), to_sql()

6. pickle object - read_pickle(), to_pickle()

In [ ]:
df_sample.to_csv('sample.csv')

'''
EXERCISE
'''
# Try to read with read_csv
# Read an excel sheet

# **Topic 3: Exploratory Data Analysis(EDA) with Pandas**

Pandas provides a wide range of functions for exploring the data.

In [9]:
df = pd.read_csv('02 Pandas/data/sales_data.csv')

In [15]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [ ]:
# guess last five

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df.shape

(2823, 25)

In [16]:
# Selecting specific columns
newdf = df[['SALES', 'YEAR_ID']]
newdf

        SALES  YEAR_ID
0     2871.00     2003
1     2765.90     2003
2     3884.34     2003
3     3746.70     2003
4     5205.27     2003
...       ...      ...
2818  2244.40     2004
2819  3978.51     2005
2820  5417.57     2005
2821  2116.16     2005
2822  3079.44     2005

[2823 rows x 2 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

In [ ]:
df.describe() # The describe() method generate descriptive statistics of a DataFrame or Series.

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,QTR_ID,MONTH_ID,YEAR_ID,MSRP
count,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.00000,2823.000000
mean,10258.725115,35.092809,83.658544,6.466171,3553.889072,2.717676,7.092455,2003.81509,100.715551
std,92.085478,9.741443,20.174277,4.225841,1841.865106,1.203878,3.656633,0.69967,40.187912
min,10100.000000,6.000000,26.880000,1.000000,482.130000,1.000000,1.000000,2003.00000,33.000000
25%,10180.000000,27.000000,68.860000,3.000000,2203.430000,2.000000,4.000000,2003.00000,68.000000
50%,10262.000000,35.000000,95.700000,6.000000,3184.800000,3.000000,8.000000,2004.00000,99.000000
75%,10333.500000,43.000000,100.000000,9.000000,4508.000000,4.000000,11.000000,2004.00000,124.000000
max,10425.000000,97.000000,100.000000,18.000000,14082.800000,4.000000,12.000000,2005.00000,214.000000

In [10]:
df['STATUS'].unique()

array(['Shipped', 'Disputed', 'In Process', 'Cancelled', 'On Hold',
       'Resolved'], dtype=object)

In [ ]:
df['STATUS'].describe()

count        2823
unique          6
top       Shipped
freq         2617
Name: STATUS, dtype: object

In [ ]:
df['SALES'].describe()

count     2823.000000
mean      3553.889072
std       1841.865106
min        482.130000
25%       2203.430000
50%       3184.800000
75%       4508.000000
max      14082.800000
Name: SALES, dtype: float64

In [ ]:
# Describe DEALSIZE Column

In [ ]:
df['STATUS'].value_counts(ascending=True)

Disputed        14
In Process      41
On Hold         44
Resolved        47
Cancelled       60
Shipped       2617
Name: STATUS, dtype: int64

In [ ]:
# Display the value counts for DEALSIZE

In [ ]:
# view the correlation
df.corr()

<ipython-input-55-118692c59f11>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,QTR_ID,MONTH_ID,YEAR_ID,MSRP
ORDERNUMBER,1.000000,0.065543,-0.002935,-0.055550,0.039919,-0.051383,-0.039723,0.904596,-0.010280
QUANTITYORDERED,0.065543,1.000000,0.005564,-0.018397,0.551426,-0.035323,-0.039048,0.069535,0.017881
PRICEEACH,-0.002935,0.005564,1.000000,-0.020965,0.657841,0.008712,0.005152,-0.005938,0.670625
ORDERLINENUMBER,-0.055550,-0.018397,-0.020965,1.000000,-0.058400,0.040716,0.034016,-0.057367,-0.021067
SALES,0.039919,0.551426,0.657841,-0.058400,1.000000,-0.006796,-0.009605,0.035647,0.635239
QTR_ID,-0.051383,-0.035323,0.008712,0.040716,-0.006796,1.000000,0.979300,-0.433052,0.010234
MONTH_ID,-0.039723,-0.039048,0.005152,0.034016,-0.009605,0.979300,1.000000,-0.430163,0.008170
YEAR_ID,0.904596,0.069535,-0.005938,-0.057367,0.035647,-0.433052,-0.430163,1.000000,-0.014310
MSRP,-0.010280,0.017881,0.670625,-0.021067,0.635239,0.010234,0.008170,-0.014310,1.000000

In [ ]:
# We can check the total number of missing values in each column in the dataset with the following command
df.isnull().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [ ]:
df.isna().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

*Data cleaning and preprocessing are essential steps to ensure that your data is accurate and ready for analysis. Pandas offers tools for handling missing values, dealing with duplicates, and transforming data. Handling missing values involves employing various techniques, each with its unique strengths and weaknesses. In this context, we explore filling missing values through forward and backward methods*:

* Dropping Missing Values: Use the dropna() method to remove rows or columns with missing values.
* Filling with Zeros: Fill missing values with zeros.
* Filling with Test Statistics: Replace missing values with appropriate test statistics.
* Forward or Backward Filling: Utilize the pad or fill option to fill values forward and the bfill or backfill option to fill values backward.

In [ ]:
df['ADDRESSLINE2'].dropna()  # Remove rows with missing values
df['ADDRESSLINE2'].fillna('Not Available')  # Fill missing values with a specific value

In [ ]:
# Removing duplicates
df.drop_duplicates()

**Grouping and Aggregation**

Pandas allows you to group data based on certain criteria and perform aggregate calculations on those groups.

In [ ]:
# Grouping data by Status
df.groupby('STATUS').mean()

<ipython-input-62-d6a02f5a0377>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('STATUS').mean()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,QTR_ID,MONTH_ID,YEAR_ID,MSRP
STATUS,,,,,,,,,
Cancelled,10231.300000,33.966667,84.361500,8.033333,3241.458000,2.533333,6.833333,2003.733333,95.983333
Disputed,10413.928571,42.642857,89.447143,3.000000,5158.061429,2.000000,4.785714,2005.000000,109.214286
In Process,10422.682927,36.341463,79.316098,5.463415,3529.999024,2.000000,5.000000,2005.000000,97.829268
On Hold,10397.636364,42.704545,85.772500,6.409091,4067.708864,2.272727,5.272727,2004.863636,96.295455
Resolved,10332.914894,35.319149,79.856170,7.106383,3206.771915,2.021277,5.000000,2004.489362,91.276596
Shipped,10252.286970,34.926634,83.712239,6.453955,3550.439847,2.756974,7.211693,2003.762323,101.067635

In [ ]:
# Grouping data by Status
df.groupby('STATUS')['SALES'].mean()

STATUS
Cancelled     3241.458000
Disputed      5158.061429
In Process    3529.999024
On Hold       4067.708864
Resolved      3206.771915
Shipped       3550.439847
Name: SALES, dtype: float64

In [20]:
# multiple functions on a single column of a dataframe
import numpy as np
df.groupby('STATUS')['SALES'].aggregate([np.sum, np.mean])

                   sum         mean
STATUS
Cancelled    194487.48  3241.458000
Disputed      72212.86  5158.061429
In Process   144729.96  3529.999024
On Hold      178979.19  4067.708864
Resolved     150718.28  3206.771915
Shipped     9291501.08  3550.439847

**Applying transformations to Dataframes**

In [21]:
# Data transformation
df['CITY'] = df['CITY'].str.upper()  # Convert city names to uppercase
df['CITY']

0                 NYC
1               REIMS
2               PARIS
3            PASADENA
4       SAN FRANCISCO
            ...
2818           MADRID
2819             OULU
2820           MADRID
2821         TOULOUSE
2822           BOSTON
Name: CITY, Length: 2823, dtype: object

In [22]:
df['DISCOUNTED_PRICE'] = df['PRICEEACH'].apply(lambda x: x/2)
df['DISCOUNTED_PRICE']

0       47.850
1       40.675
2       47.370
3       41.630
4       50.000
         ...
2818    50.000
2819    50.000
2820    50.000
2821    31.120
2822    32.760
Name: DISCOUNTED_PRICE, Length: 2823, dtype: float64

In [23]:
df['CAPITALIZED_CITY'] = df['CITY'].dropna().apply(lambda x: x.upper())
df['CAPITALIZED_CITY']

0                 NYC
1               REIMS
2               PARIS
3            PASADENA
4       SAN FRANCISCO
            ...
2818           MADRID
2819             OULU
2820           MADRID
2821         TOULOUSE
2822           BOSTON
Name: CAPITALIZED_CITY, Length: 2823, dtype: object

# **Topic 4: Indexing with Pandas**

Pandas allows us to slice and dice the data and get the subset of pandas dataframe. Pandas provides 2 types of Multi-axes indexing. Those three types are mentioned in the following table:-

* .loc - Label based
* .iloc - Integer based

In [50]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,DISCOUNTED_PRICE,CAPITALIZED_CITY
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,NYC,NY,10022,USA,NaN,Yu,Kwai,Small,47.850,NYC
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,REIMS,NaN,51100,France,EMEA,Henriot,Paul,Small,40.675,REIMS
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,PARIS,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium,47.370,PARIS
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,PASADENA,CA,90003,USA,NaN,Young,Julie,Medium,41.630,PASADENA
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,SAN FRANCISCO,CA,NaN,USA,NaN,Brown,Julie,Medium,50.000,SAN FRANCISCO

In [37]:
df.loc[0:4,'QUANTITYORDERED']

0    30
1    34
2    41
3    45
4    49
Name: QUANTITYORDERED, dtype: int64

In [39]:
# Select range of rows for all columns
df.iloc[0:5, 1]

0    30
1    34
2    41
3    45
4    49
Name: QUANTITYORDERED, dtype: int64

In [41]:
# Select first five rows for multiple columns

df.loc[0:4,['QUANTITYORDERED','SALES']]

   QUANTITYORDERED    SALES
0               30  2871.00
1               34  2765.90
2               41  3884.34
3               45  3746.70
4               49  5205.27

In [43]:
# Select first five rows for multiple columns

df.iloc[0:5,[1,4]]

   QUANTITYORDERED    SALES
0               30  2871.00
1               34  2765.90
2               41  3884.34
3               45  3746.70
4               49  5205.27

In [ ]:
# Select all rows for multiple columns
df.loc[:,['QUANTITYORDERED','SALES']]

In [ ]:
# Select all rows for multiple columns
df.iloc[:,[1,4]]

In [ ]:
# get the row with the maximum quantity ordered

df.loc[df['QUANTITYORDERED'].idxmax()]

In [ ]:
# get the row with the maximum quantity ordered

df.iloc[df.iloc[:, 1].idxmax()]

In [ ]:
# get the sales amount of shipped orders and sales is greater than 2000
df.loc[((df['STATUS'] == 'Shipped') & (df['SALES'] >= 2000)), 'SALES']

In [69]:
# get the sales amount of shipped orders and sales is greater than 2000
df[(df.iloc[:, 6] == 'Shipped') & (df.iloc[:, 4] >= 2000)]['SALES']

0       2871.00
1       2765.90
2       3884.34
3       3746.70
4       5205.27
         ...
2815    2227.60
2817    4080.72
2818    2244.40
2819    3978.51
2821    2116.16
Name: SALES, Length: 2096, dtype: float64

In [ ]:
# Select first 10 rows
# Select first 10 rows with 5 columns of your choice

# select second column of dataframe
# select last column of dataframe

**Bonus**

Indexing a single value with at() and iat().
Pandas provides at() and iat() functions to access a single value for a row and column pair by label or by integer position.

In [75]:
# get value at 1st row and status column pair
df.at[1, 'STATUS']

'Shipped'

In [76]:
# get value at 3rd row and 9th column pair
df.iat[3, 9]

2003

In [ ]:
# Filter orders with sales lesser than 2000 using WHERE

df.where(df['SALES'] > 2000)

In [78]:
# Filter orders with sales lesser than 2000 using WHERE

sales_2000 = df['SALES'].where(df['SALES'] > 2000)
sales_2000

0       2871.00
1       2765.90
2       3884.34
3       3746.70
4       5205.27
         ...
2818    2244.40
2819    3978.51
2820    5417.57
2821    2116.16
2822    3079.44
Name: SALES, Length: 2823, dtype: float64

In [ ]:
# get the sales amount with a given order id and year id using WHERE

In [ ]:
# Indexing with query() method
df.query('(SALES > 2000)')

In [ ]:
# get the sales amount with a given order id and year id using QUERY

# **Topic 5: Sorting with Pandas**

In [ ]:
# Sorting data by one column
df.sort_values(by='SALES', ascending=False)

In [82]:
# Sorting data ny multiple columns
df.sort_values(by=['SALES', 'YEAR_ID'])

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,DISCOUNTED_PRICE,CAPITALIZED_CITY
2249,10425,11,43.83,6,482.13,5/31/2005 0:00,In Process,2,5,2005,...,NANTES,NaN,44000,France,EMEA,Labrune,Janine,Small,21.915,NANTES
1287,10407,6,90.19,3,541.14,4/22/2005 0:00,On Hold,2,4,2005,...,SAN JOSE,CA,94217,USA,NaN,Frick,Sue,Small,45.095,SAN JOSE
2044,10408,15,36.93,1,553.95,4/22/2005 0:00,Shipped,2,4,2005,...,MINATO-KU,Tokyo,106-0032,Japan,Japan,Shimamura,Akiko,Small,18.465,MINATO-KU
1551,10280,20,28.88,12,577.60,8/17/2004 0:00,Shipped,3,8,2004,...,TORINO,NaN,10100,Italy,EMEA,Accorti,Paolo,Small,14.440,TORINO
1818,10419,15,42.67,7,640.05,5/17/2005 0:00,Shipped,2,5,2005,...,SALZBURG,NaN,5020,Austria,EMEA,Pipps,Georg,Small,21.335,SALZBURG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,10403,66,100.00,9,11886.60,4/8/2005 0:00,Shipped,2,4,2005,...,LIVERPOOL,NaN,WX1 6LT,UK,EMEA,Devon,Elizabeth,Large,50.000,LIVERPOOL
1062,10412,60,100.00,9,11887.80,5/3/2005 0:00,Shipped,2,5,2005,...,MADRID,NaN,28034,Spain,EMEA,Freyre,Diego,Large,50.000,MADRID
53,10424,50,100.00,6,12001.00,5/31/2005 0:00,In Process,2,5,2005,...,MADRID,NaN,28034,Spain,EMEA,Freyre,Diego,Large,50.000,MADRID
744,10322,50,100.00,6,12536.50,11/4/2004 0:00,Shipped,4,11,2004,...,NASHUA,NH,62005,USA,NaN,Young,Valarie,Large,50.000,NASHUA
598,10407,76,100.00,2,14082.80,4/22/2005 0:00,On Hold,2,4,2005,...,SAN JOSE,CA,94217,USA,NaN,Frick,Sue,Large,50.000,SAN JOSE

In [ ]:
# Display the modified DataFrame
print(df)

# **Topic 6: Merging and Joining Datasets**

Often, you'll need to combine data from multiple sources to perform more comprehensive analysis. Pandas provides methods for merging and joining datasets.

In [83]:
# Creating two DataFrames
data1 = {'ID': [1, 2, 3],
         'Score': [85, 90, 78]}
data2 = {'ID': [2, 3, 4],
         'Grade': ['A', 'B', 'C']}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [84]:
df1

   ID  Score
0   1     85
1   2     90
2   3     78

In [85]:
df2

   ID Grade
0   2     A
1   3     B
2   4     C

In [86]:
# Inner join
merged_inner = pd.merge(df1, df2, on='ID', how='inner')

# Display the merged DataFrames
print(merged_inner)

   ID  Score Grade
0   2     90     A
1   3     78     B

In [89]:
# Left join
merged_left = pd.merge(df1, df2, on='ID', how='left')

# Display the merged DataFrames
print(merged_left)

   ID  Score Grade
0   1     85   NaN
1   2     90     A
2   3     78     B

# PRACTICE QUESTIONS

**Exercise 1: Data Structures in Pandas**

Load the housing data from the CSV file into a pandas DataFrame. Create a new DataFrame that contains only houses with more than 4 bedrooms and has a price greater than $1 million. Print the first 10 rows of this filtered DataFrame.

**Exercise 2: Series Operations**
Using the housing DataFrame, calculate and print the following advanced statistics:

* The 90th percentile of house prices.
* The variance in square footage of living space ('sqft_living') among houses with 3 bathrooms.
* The count of houses with waterfront views ('waterfront' = 1) and more than 4 bedrooms.

**Exercise 3: Exploratory Data Analysis (EDA) with Pandas**
Conduct an advanced EDA on the housing data. Calculate and print the following statistics for houses in each unique zipcode:

* Mean price
* Median square footage of living space
* Standard deviation of prices
* Total count of houses
* Display the results as a DataFrame.

**Exercise 4: Indexing with Pandas**
1. Selecting Rows and Columns
* Load the housing data into a DataFrame. Select and display the top 5 most expensive houses based on their prices. Include columns 'price,' 'bedrooms,' 'bathrooms,' and 'zipcode.'

2. Boolean Indexing
* Implement advanced boolean indexing to filter houses with specific criteria. Create a DataFrame that contains houses with at least 3 bathrooms, a view rating greater than or equal to 3, and a condition rating of 5. Print the first 10 rows of this filtered DataFrame.

**Exercise 5: Aggregating Data and GroupBy**
Load the housing data into a DataFrame. Group the data by the 'grade' column (house grade) and calculate advanced statistics for each grade:

* Mean price
* Median square footage of living space
* Maximum number of bedrooms
* Minimum number of bathrooms
* Display the results as a DataFrame sorted by grade.

**Exercise 6: Custom Aggregations**
Load the housing data and create a custom aggregation function that calculates the average price per square foot of living space for each unique zipcode. Apply this custom aggregation to the data and display the results in a sorted DataFrame.

# **Further Learning**

https://pandas.pydata.org/

https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf